<div class="container">
  <div class="quiz__header">
    <img src="../../../assets/images/logo.png" class="logo">
    <h2 class="quiz__title">Título do quiz</h2>
  </div>
  <div>
    <h3 class="quiz__question">pergunta do quiz</h3>
  </div>
  <div>
    <ul class="quiz__options-list">
      <li>
        <button class="quiz__option">opção</button>
      </li>
    </ul>
  </div>
  <div class="quiz__result">
    <h3 class="result__title">Resultado</h3>
    <p class="result__p">descrição do resultado</p>
  </div>
</div>